
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.dashboard {
    display: flex; 
}


.sidebar {
    width: 60px; 
    background-color: #f8f9fa; 
    height: 100vh; 
}

.sidebar ul {
    list-style-type: none; 
    padding: 0;
}

.sidebar-icon {
    width: 24px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
}


.main-content {
    flex: 1; 
    padding: 20px; 
    position: relative; 
}


header {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 10px; 
    background-color: #f4f4f4; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}


.top-right-options {
    display: flex; 
    gap: 15px; 
}

.file-claim-button,
.customize-button {
    background-color: #004d99; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.file-claim-button:hover,
.customize-button:hover {
    background-color: #003366; 
}


.dashboard-main {
    display: flex; 
    margin-top: 20px; 
}


.user-image {
    flex: 1; 
    text-align: center; 
}

.upload-options {
    margin-top: 10px;
}


.dashboard-welcome {
    flex: 2; 
    padding-left: 20px; 
}

/*.dashboard-buttons {
    margin-top: 20px;
}*/

/*.dashboard-btn {
    padding: 10px 15px; 
    margin: 5px; */
}
.item {
  background: #305077;
  max-width:100px;
  border: solid 2px #000000;
  text-align: center;
  font-size: 2.2em;
  color: white;
  margin: 2px;
  font-weight: bold;
  line-height: 1;
}
.container {
    border:blue 2px;
    background: navy;
    max-width:100px;
    margin-right: 1em;
    display: grid;
    height: 400px;
    align-content: center;
    
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: navy;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}




